<div class="container-top-circle">
    <p class="top-circle"></p>
</div>
<div class="container-little-circle">
    <p class="little-circle"></p>
</div>

<div class="horizontal-circle">
</div>
<div class="row" style="padding-top: 20%; padding-left: 10%;">

    <div class="col-6  text-center">

    </div>
    <div class="col-md-6 col-sm-12 " style="padding-right: 100px;">
        <app-tarjeta-login></app-tarjeta-login>
    </div>

</div>