
  .horizontal-circle {
    width: 5em; 
    height: 30em; 
    background: #aaddf2;
    -moz-border-radius: 0 20em 20em 0;
    -webkit-border-radius: 0 20em 20em 0;
    border-radius: 0 20em 20em 0;
    padding-right: 14%;  position: absolute;  top: 10em; z-index: -2;
}
.top-circle {
   
        width: 15em; 
        height: 8em; 
        background: #baf1f4;
        -moz-border-radius:0 0 20em 20em ;
        -webkit-border-radius: 0 0 20em 20em;
        border-radius: 0 0 20em 20em ;
       
}

.little-circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0.5;
    background:#d9e0fc;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #eee;
}


.container-top-circle{
    padding-left: 40%;  position: absolute;  z-index: -2; 
}
.container-little-circle{
    padding-left: 11%;padding-top: 18%;  position: absolute; z-index: -1;
}
/* You can add global styles to this file, and also import other style files */
.card-rounded{
    border-radius: 35px !important;
}

.modal-content { 
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}

.modal-dialog {
    border: 35px !important;
}


.btn-rounded{
    border-radius: 45px !important;
    min-width: 10em;
    
  }
  .btn-container{
    padding-left: 36%;  position: absolute;  top: 84%;
  }
  