@media (min-width:34em) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
    .card-rounded{
        border-radius: 35px !important;
    }
 

    .circle {
        width: 100px;
        height: 100px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background:green;
   }
   .circle-muted {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:orange;
}

   .circle-blue {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background:blue;
}

   .text-without-mutation{
    color: green;
   }
   .text-with-mutation{
    color: orange;
   }

   .result-padding{
    padding-top: 3em;
   }

   

}