<app-navbar [ConteoMutacionInput] ="conteoMutacion" [botonSeleccionado] = "opcionSeleccionada" (eventosNavBar)="eventosNavBar($event)"></app-navbar>
<div class="row" style="padding-left: 3%; padding-right: 3%; position: absolute;  top: 17em;">
    
    <div class="col-sm-4" *ngFor="let persona of personas">
        <div class="card shadow p-3 mb-5 bg-white rounded card-rounded" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p [ngClass]="{'circle' : persona.mutacion == false, 'circle-muted' : persona.mutacion == true}"></p>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h3><strong>{{persona.nombre}}</strong></h3>
                        <p>creado en {{persona.alta}}</p>
                    </div>
                    <div class="col-md text-center result-padding">
                        <h3 *ngIf="persona.mutacion == false" class="without-mutation text-without-mutation"><strong>Sin mutación</strong></h3>
                        <h3 *ngIf="persona.mutacion == true" class="without-mutation text-with-mutation"><strong>Con mutación</strong></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  " role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="row">
                    
                    <div *ngIf="mensajeError" class="col-sm-12 alert alert-danger alert-dismissible card-rounded text-center">
                        <button type="button" class="close" (click)="mensajeError = null">
                            <span>&times;</span>
                        </button>
                        {{mensajeError}}
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 " style="padding-left: 30px;">
                       
                        <p class="circle"></p>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-12" style="padding:30px;">
                       
                        <div class="md-input">
                            <form  [formGroup]="HumanoForm">
                                <input class="md-form-control" type="text" formControlName="nombre">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>nombre de humano</label>
                            </form>
                          
                        </div>
                    </div>
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-action btn-rounded" (click)="guardarHumano()"><strong>Crear humano</strong></button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>