<div class="topnav">
    <h1 *ngIf="registrosEnConteo == false" class="display-4"><strong> ADN detector </strong></h1>
    <h1 *ngIf="registrosEnConteo == true" class="display-4"><strong> ADN detector CM: {{conteoMutacion.conMutacion}} SM: {{conteoMutacion.sinMutacion}}</strong></h1>
    <div class="topnav-right" >
        <app-boton-salida></app-boton-salida>
    </div>
</div>

<div class="row human-options">
    <div class="col-md-3 col-sm-6" ><button type="button" class="btn btn-primary btn-rounded"  [ngClass]="{'btn-selected':botonactivo==0}" (click) ="nuevoHumano()">Nuevo Humano</button></div>
    <div class="col-md-3 col-sm-6 text-center" ><button type="button" class="btn btn-primary btn-rounded" [ngClass]="{'btn-selected':botonactivo==1}" (click) ="AnalizarHumano()">Analizar Humano</button></div>
    <div class="col-md-3 col-sm-6 text-center" ><button type="button" class="btn btn-primary btn-rounded" [ngClass]="{'btn-selected':botonactivo==2}" (click) ="getHumanosConMutacion()">Con mutación</button></div>
    <div class="col-md-3 " style="text-align: right;"><button type="button" class="btn btn-primary btn-rounded" [ngClass]="{'btn-selected':botonactivo==3}" (click) ="getHumanosSinMutacion()">Sin mutación</button></div>
</div>