body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #004ee8;
}

.topnav h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-left: 3%;
  padding-top: .5em;
  text-decoration: none;
  
}


.topnav-right {
  float: right;
  padding-right: 2%;
}
.topnav-left {
  float: left;
  padding-left: 2%;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  
}
.human-options{
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  background-color: #004ee8;
  min-height: 18em; 
  border-radius: 0px 0px 70px 70px;

 }
 .btn-rounded{
  border-radius: 45px !important;
  min-width: 10em;
}