container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #FFFF;
    margin: 8px 0;
    transition: 0.4s;
  }
  .bar2{
    width: 35px;
    height: 3px;
    background-color: #FFFF;
    margin-left: 6px;
    transition: 0.4s;

  }

  
  
    
    

  