<div #botonCerrarSesion class="col-md-6 col-sm-12" style="padding-top: 2em;" (click)="despliegeBtnCierreSesion()" title="Cerrar sesión">
    <div class="bar1"></div>
    <div class="bar2" ></div>
    <div class="bar3"></div>
</div>
