<div *ngIf="mensajeError" class="alert alert-danger alert-dismissible card-rounded text-center">
    <button type="button" class="close" (click)="mensajeError = null">
        <span>&times;</span>
    </button>
    {{mensajeError}}
</div>

<form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div>
    <div class="card shadow p-3 mb-5 bg-white rounded card-rounded">
        <div class="card-body " style="justify-content: center !important;">
            <div style="padding: 10%;">
                
                <div class="md-input">
                    <input class="md-form-control"   type="text" formControlName="usuario">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Usuario</label>
                </div>
                <div class="md-input">
                    <input class="md-form-control"  type="password" formControlName="contrasenia">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Contraseña</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 text-center btn-container" >
    <button type="submit"  class="btn btn-primary btn-rounded btn-action">Ingresar</button></div>
</form>